<div class="page-head add-padding-top"
     style="background: url('mImages/deposit-bg.jpg') #494c53 no-repeat center top;  background-size: cover; ">
    <div class="container">
        <div class="page-head-content">
            <h1 class="page-title"><span>About Us</span></h1>
        </div>
    </div>
</div>
<!-- .page-head -->
<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="container-property-single clearfix">
                <div class="col-md-12 site-main-content property-single-content">
                    <main id="main" class="site-main">
                        <article class="hentry clearfix">
                            <div class="entry-content clearfix">
                                <h4 class="fancy-title">About Us</h4>
                                <div class="property-content">
                                    <p>A&E Automotive Group Inc is a leading importer and wholesaler of EFI, engine management
                                        and service components, and is a major supplier to the US automotive
                                        aftermarket. A & E Automotive Group Inc carries one of US most extensive ranges
                                        of these specialised components, from the World’s leading manufacturers,
                                        specialising in genuine and original equipment (OEM) products.</p>

                                        <p>A&E Automotive Group Inc prides itself on high quality products from the world’s
                                        leading automotive parts manufacturers including Delphi, Bosch, Pierburg,
                                        Standard Motor Products, Denso, Bougicord, VDO, Walker Products, Walbro,
                                        Hitachi, Bremi, FAE, TE Automotive, Hella and Valeo, for vehicles from
                                         the USA, Europe, Japan, Korea and more</p>

                                    <p>A&E Automotive Group Inc distributes throughout USA via its reputable network of
                                        specialist resellers, national distributors and leading automotive retail
                                        groups. A&E Automotive Group Inc also exports to several other countries in the
                                        region.</p>

                                    <p>A&E Automotive Group Inc's offering also includes foreign auto parts. Through
                                        our ownership of
                                        Eastern Imports, we are one of the Western U.S. largest
                                        suppliers of quality parts for European and Asian automobiles. For more than 30
                                        years, customers have relied on Eastern Imports for its vast knowledge of, and
                                        expertise in, foreign auto parts.</p>

                                    <p>A&E Automotive Group Inc is also a member of the premiere Automotive
                                        Distribution Network, using the
                                        Parts Plus program. A&E Automotive Group Inc is part of the VIPAR heavy duty
                                        association, and is an
                                        ACDelco DDG member. Learn more about A&E Automotive Group Inc's groups and
                                        associations.</p>

                                    <p>As a locally-owned and operated business, A&E Automotive Group Inc understands
                                        the challenges
                                        customers face, especially with regard to managing vast inventories. In an
                                        effort to help customers succeed, A&E Automotive Group Inc has put together
                                        outstanding sales,
                                        counterperson and customer service teams. Many are ASE (Automotive Service
                                        Excellence) certified, and maintain said certifications on a regular basis. Due
                                        to their extensive knowledge, responses are quick and timely. A significant
                                        portion of our team members also speak Spanish. Staffing more than 180 trained
                                        professionals, A&E Automotive Group Inc ensures that customer needs are met with
                                        the help of these
                                        experienced and knowledgeable teams.</p>

                                    <p>A&E Automotive Group Inc's management team is also here to help. Management
                                        prides itself in its
                                        creative approach to the Auto Parts business, and aims to help make A&E
                                        Automotive Group Inc
                                        customers competitive in their respective markets. As a caring and
                                        well-established auto parts company, A&E Automotive Group Inc offers support and
                                        assistance at all
                                        levels. Be sure to check out A&E Automotive Group Inc's news and events; stay
                                        up-to-date with the
                                        latest offerings, innovations and community involvement provided by this auto
                                        care leader.</p>

                                        <p>If you're interested in quality parts, quick deliveries, exemplary customer
                                        service and competitive pricing, call A&E Automotive Group Inc today!</p>
                                </div>
                                
                            </div>
                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
            </div>
            <!-- .container-property-single -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>