<slider></slider>
<div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content layout-boxed">
        <main id="main" class="site-main">
           <details-directive></details-directive>
            <div class="property-listing-three">
                <div class="container">
                    <div class="welcome-text">
                        <h2 class="title">Get your best deal on imported auto parts</h2>
                        <p>From European vehicles to Asian vehicles, trust us to have the items you need to complete your next project.</p>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <packages></packages>

        <!--&lt;!&ndash; .site-main &ndash;&gt;-->
        <!--<footer class="site-footer site-footer-one">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-3 footer-logo">-->
                        <!--<a href="#">-->
                            <!--<img class="img-responsive" src="images/footer-logo.png" alt="Footer Logo"/>-->
                        <!--</a>-->
                        <!--<p class="copyright-text">-->
                            <!--© Copyright 2015 All rights reserved by <a href="#">Real Places</a>-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="col-lg-9 footer-widget-area">-->
                        <!--<div class="row">-->
                            <!--<div class="col-sm-6 col-md-3">-->
                                <!--<section class="widget clearfix widget_lc_taxonomy">-->
                                    <!--<h3 class="widget-title">Locations</h3>-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#">Miami</a> (12)-->
                                            <!--<ul class="children">-->
                                                <!--<li><a href="#">Little Havana</a> (2)</li>-->
                                                <!--<li><a href="#">Perrine</a> (1)</li>-->
                                                <!--<li><a href="#">Doral</a> (1)</li>-->
                                            <!--</ul>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div class="col-sm-6 col-md-3">-->
                                <!--<section class="widget clearfix widget_recent_entries">-->
                                    <!--<h3 class="widget-title">Latest Posts</h3>-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">Gallery Post Format</a></li>-->
                                        <!--<li><a href="#">Image Post Format</a></li>-->
                                        <!--<li><a href="#">Video Post Format</a></li>-->
                                        <!--<li><a href="#">Another Image Post Format</a></li>-->
                                        <!--<li><a href="#">Standard Post Format with Featured Image</a></li>-->
                                    <!--</ul>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div class="clearfix visible-sm"></div>-->
                            <!--<div class="col-sm-6 col-md-3">-->
                                <!--<section class="widget clearfix widget_lc_taxonomy">-->
                                    <!--<h3 class="widget-title">Property Statuses</h3>-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">For Rent</a> (6)</li>-->
                                        <!--<li><a href="#">For Sale</a> (6)</li>-->
                                    <!--</ul>-->
                                <!--</section>-->
                            <!--</div>-->
                            <!--<div class="col-sm-6 col-md-3">-->
                                <!--<section id="inspiry_social_media_icons-1" class="widget clearfix widget_inspiry_social_media_icons">-->
                                    <!--<h3 class="widget-title">Connect With Us</h3>-->
                                    <!--<div class="social-networks clearfix">-->
                                        <!--<a class="twitter" href="#twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a><a class="facebook" href="#facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>-->
                                        <!--<a class="linkedin" href="#linkedin" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a><a class="google-plus" href="#google-plus" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a><a class="instagram" href="#instagram" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>-->
                                        <!--<a class="youtube-square" href="#youtube" target="_blank"><i class="fa fa-youtube-square fa-lg"></i></a><a class="pinterest" href="#pinterest" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a><a class="rss" href="#rss" target="_blank"><i class="fa fa-rss fa-lg"></i></a>-->
                                    <!--</div>-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->
        <!-- .footer -->
    </div>
    <!-- .site-content -->
</div>