<div class="page-head add-padding-top"
     style="background: url('mImages/deposit-bg.jpg') #494c53 no-repeat center top;  background-size: cover; ">
    <div class="container">
        <div class="page-head-content">
            <h1 class="page-title"><span>About Us</span></h1>
        </div>
    </div>
</div>
<!-- .page-head -->
<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="container-property-single clearfix">
                <div class="col-md-12 site-main-content property-single-content">
                    <main id="main" class="site-main">
                        <article class="hentry clearfix">
                            <div class="entry-content clearfix">
                                <h4 class="fancy-title">Import Parts & Supplies</h4>
                                <div class="property-content">

                                    <p>Large Inventory to Meet All Our Customer's Needs</p>
                                    <p>Are your searching for import auto parts ? At A&E Automotive Group Inc,
                                        we
                                        offer a wide selection of import parts from dozens of different suppliers. From
                                        original manufacturers to aftermarket items, our inventory includes a variety
                                        auto
                                        parts. With a friendly and knowledgeable staff ready to assist, rest assured
                                        that,
                                        whatever your specific needs may be, you will be well taken care of!</p>

                                </div>
                                <div class="property-additional-details clearfix">
                                    <h4 class="fancy-title">Some of the import suppliers that we use include</h4>
                                    <ul class="property-additional-details-list clearfix">

                                        <li>
                                            <dl>
                                                <dt>Bugpack</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Empi</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>TMI</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>West Coast Metric</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>ABD Racing</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Autobahn Design</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>CB Performance</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>FK Automotive</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Redline Weber Carburetor</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>RPI Equipped</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Techtonics Tuning</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>CNC</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Hella</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Scat</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>VDO</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>ATE</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Bando</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Bilstein</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Boge</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Bosch</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Contitech</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Elring</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>GMB</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Hengst</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>KYB</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Lemforder Mahle Filters</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Mann Filters</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Mintex</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Mountain</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>NGK</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Pagid</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>PBR/Repco</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Sachs</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Scan Tech</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Victor Reniz</dt>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>Zimmerman</dt>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                                <div class="property-content">
                                    For more information on the import parts and suppliers we offer, call our shop today !
                                </div>
                            </div>
                        </article>
                    </main>

                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
            </div>
            <!-- .container-property-single -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>