<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 site-main-content">
                    <main id="main" class="site-main">
                        <div class="white-box submit-property-box">
                            <form id="submit-property-form" class="submit-form" enctype="multipart/form-data"
                                  method="post" novalidate="novalidate">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="fancy-title">Order Details</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-option">
                                            <span ng-show="!selected.changePackage">Selected Package: {{selected.package}}. (<a
                                                    ng-click="changePackage()" href="">change</a>)</span>
                                            <span ng-show="selected.changePackage">
                                            <label for="Package">Package</label>
                                                <select name="Package" id="Package" class="search-select valid"
                                                        aria-invalid="false">
                                                    <option ng-repeat="data in packagesData">{{data.name}} -
                                                        {{data.description}}
                                                    </option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-option">
                                            <span ng-show="!selected.changeDeposit">Selected Deposit Amount: {{selected.deposit}}. (<a
                                                    ng-click="changeDeposit()" href="">change</a>)</span>
                                            <span ng-show="selected.changeDeposit">
                                                <label for="deposit_amount">Deposit Amount</label>
                                                <select name="deposit_amount" id="deposit_amount" class="search-select">
                                                    <option value="" ng-repeat="data in packagesData[0].deposit">
                                                        {{data}}
                                                    </option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="fancy-title">Your Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label for="user_first_name">First Name</label>
                                            <input id="user_first_name" name="user_first_name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label for="user_last_name">Last Name</label>
                                            <input id="user_last_name" name="user_last_name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label for="user_company_name">Company Name</label>
                                            <input id="user_company_name" name="user_company_name" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                                <div class="row container-row">
                                    <div class="col-lg-6">
                                        <div class="form-option">
                                            <label class="fancy-title">Please check if you are interested in something
                                                specific</label>
                                            <ul class="features-checkboxes-wrapper list-unstyled clearfix">
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-16" value="16"><label
                                                        for="feature-16">Accessory</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-17" value="17"><label
                                                        for="feature-17">Air Intake</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-19" value="19"><label
                                                        for="feature-19">Auto Body Parts</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-20" value="20"><label
                                                        for="feature-20">
                                                    Body Electrical</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-21" value="21"><label
                                                        for="feature-21">Body Mechanical</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-24" value="24"><label
                                                        for="feature-24">Brake</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-25" value="25"><label
                                                        for="feature-25">Car Care</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-26" value="26"><label
                                                        for="feature-26">Climate Control</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-27" value="27"><label
                                                        for="feature-27">Clutch</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-28" value="28"><label
                                                        for="feature-28">Cooling System</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-31" value="31"><label
                                                        for="feature-31">Driveshaft & Axle</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-32" value="32"><label
                                                        for="feature-32">Engine Electrical</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-33" value="33"><label
                                                        for="feature-33">Engine Mechanical</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-34" value="34"><label
                                                        for="feature-34">Exhaust</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-35" value="35"><label
                                                        for="feature-35">Fuel Delivery</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-36" value="36"><label
                                                        for="feature-36">Most Popular</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-38" value="38"><label
                                                        for="feature-38">Steering</label></span></li>
                                                <li><span class="option-set"><input type="checkbox" name="features[]"
                                                                                    id="feature-44" value="44"><label
                                                        for="feature-44">
                                                    Suspension</label></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-option">
                                            <div class="inspiry-details-wrapper">
                                                <label class="fancy-title">Additional Details</label>
                                                <div class="inspiry-detail labels clearfix">
                                                    <div class="inspiry-detail-control">&nbsp;</div>
                                                    <div class="inspiry-detail-title"><label>Title</label></div>
                                                    <div class="inspiry-detail-value"><label>Value</label></div>
                                                    <div class="inspiry-detail-control">&nbsp;</div>
                                                </div>
                                                <!-- additional details container -->
                                                <div id="inspiry-additional-details-container">
                                                    <div class="inspiry-detail inputs clearfix">
                                                        <div class="inspiry-detail-control"><i
                                                                class="sort-detail fa fa-bars"></i></div>
                                                        <div class="inspiry-detail-title"><input type="text"
                                                                                                 name="detail-titles[]"
                                                                                                 value=""></div>
                                                        <div class="inspiry-detail-value"><input type="text"
                                                                                                 name="detail-values[]"
                                                                                                 value=""></div>
                                                        <div class="inspiry-detail-control"><a class="remove-detail"
                                                                                               href="#"><i
                                                                class="fa fa-times"></i></a></div>
                                                    </div>
                                                </div>
                                                <!-- end of additional details container -->
                                                <div class="inspiry-detail clearfix">
                                                    <div class="inspiry-detail-control">&nbsp;</div>
                                                    <div class="inspiry-detail-control">
                                                        <a class="add-detail" href="#"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- .row -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="fancy-title">Credit Card Information</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label for="cc_name">Name On Card</label>
                                            <input id="cc_name" name="cc_name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label for="cc_card_number">Card Number</label>
                                            <input id="cc_card_number" name="cc_card_number" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-option">
                                            <label for="cc_month">Exp. Month</label>
                                            <select name="cc_month" id="cc_month" class="search-select valid"
                                                    aria-invalid="false">
                                                <option ng-repeat="data in months">{{data}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-option">
                                            <label for="Exp. Year">Deposit Amount</label>
                                            <select name="Exp. Year" id="Exp. Year" class="search-select">
                                                <option value="" ng-repeat="data in years">{{data}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->
                                <!-- .row -->
                                <div class="row container-row">
                                    <div class="col-xs-12">
                                        <div class="form-option">
                                            <label for="message_to_reviewer">Leave us a note !</label>
                                            <textarea name="message_to_reviewer" id="message_to_reviewer" cols="30"
                                                      rows="3"></textarea>
                                        </div>
                                        <div class="form-option">
                                            <input type="hidden" name="action" value="add_property">
                                            <input type="submit" value="Submit Deposit" class="btn-small btn-orange">
                                        </div>
                                        <div id="message-container">&nbsp;</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- .user-profile-wrapper -->
                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>